@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

html.dark {
  color-scheme: dark;
}

html.light {
  color-scheme: light;
}
